dy {
  font-family: "Times New Roman", sans-serif;
  line-height: 1.6;
  color: #fff;
  margin: 0;
  padding: 0;
  animation: rollIn 1.5s ease-out;
  overflow: auto;
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  text-align: center;
}

.background-images {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header-content h2 {
  font-size: 50px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #15bb0f;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.launch-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.timer-box {
  text-align: center;
  margin: 20px; /* Adjusted margin */
  display: flex;
  flex-direction: column; /* Display the timer vertically */
  align-items: center;
  width: 30px;
}

.timer-box p {
  font-size: 36px;
  margin-bottom: 5px;
  background-color: #6c0f9e;
  padding: 10px;
  border-radius: 10px;
  color: #ffcc00;
}

.timer-box span {
  color: #fff;
  font-size: 14px;
  display: block;
}

@keyframes rollIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

header h1.glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  color: #00ff00;
}

header img.start-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.start-button {
  background-color: #e5b200;
  color: #fff;
}

.start-button:hover {
  background-color: #e5b200;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #090808;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #e5b200;
}

.header-content h1 {
  font-size: 4rem;
  color: #06f8c4;
  font-weight: bold;
  font-style: italic;
}

.header-content p {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #3fbb19;
  text-align: center;
}
.contents p {
  color: #0bed47;
  margin-top: 10px;
}
section {
  text-align: center;
  background-color: #240046;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  min-height: 500px;
}

section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  opacity: 0.7;
  display: block;
  object-fit: center;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

#schedule {
  position: relative;
}

.flow-path {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.6em;
}

.step:hover {
  background-color: #2980b9;
}

.step.active {
  background-color: #2c3e50;
}

#details-container {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  background-color: #fff;
  color: #2c3e50;
  position: relative;
  z-index: 2;
}

.step-with-image {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  animation: slideBackground 3s linear infinite;
}

@keyframes slideBackground {
  0% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(100%);
  }
}

.step-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

section p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #e5b200;
}

@media only screen and (max-width: 300px) {
  .background-image {
    background-size: contain;
  }
}

.content {
  top: 50%;
  position: absolute;
  transform: translate(-50%);
  color: #fff;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 64px;
  font-weight: 600;
}

.content h1 span {
  color: #ff3753;
}