body {
  background: url("/images/background_image.jpg") center/cover no-repeat fixed;
  font-family: "Times New Roman", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  animation: rollIn 1.5s ease-out;
  overflow: auto;
  scroll-behavior: smooth;
}

header {
  height: 10vh;
  text-align: center;
  margin-bottom: 20px; /* Added margin between header and sections */
}

nav {
  margin-top: -7%;
  margin-left: 75%;
  transform: translateX(-50%);
}

nav ul {
  list-style-type: none;
  padding: 3;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

nav ul li {
  margin: 0px 10px;
  max-width: 70px;
}

nav a {
  position: relative;
  font-weight: bold;
  padding: 10px 15px;
  color: rgb(248, 30, 230);
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #06e7dc;
}

.contents h1 {
  font-size: 3rem;
  color: #06f8c4;
  font-weight: bold;
  font-style: italic;
  margin-bottom: -40px;
}

.contents p {
  color: yellow;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 7%;
}
.timer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10%;
  margin-top: -100px;
}

.container {
  color: #55d860;
  margin: 0 20px;
  margin-right: 5%;
}
.countdown-box {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #f1d1f1;
  width: 80px;
  height: 90px;
  background-color: #0db4d6;
}

.countdown-box span {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #c44bbe;
  border-radius: 10px;
}

.countdown-box p {
  font-size: 1.2em;
  color: #021a5a;
  margin-top: -10px;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
#headline {
  font-size: 40px;
  padding: 5px;
  margin-top: 5px;
  color: #021a5a;
  text-shadow: 3px 3px 3px #ff00ff;
}
#headline1 {
  font-size: 40px;
  padding: 5px;
  margin-top: 5px;
  color: #01fd23;
  text-shadow: 3px 3px 3px #ff00bf;
}

#headline1.glow {
  animation: glow 1s ease-in-out infinite alternate;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@keyframes rollIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

header h1.glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00; /* Neon Green */
}

header img.start-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.start-button {
  background-color: #e5b200;
  color: #fff;
}

.start-button:hover {
  background-color: #e5b200;
}

.header-content h1 {
  font-size: 4rem;
  color: #06f8c4;
  font-weight: bold;
  font-style: italic;
}

section {
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  min-height: 500px;
}

section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  opacity: 0.7;
  display: block;
  object-fit: center;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

#schedule {
  position: relative;
}

.flow-path {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #0cad8b;
  box-shadow: 0 0 10px #0cad8b; /* Neon Purple */
  color: #700667;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.6em;
}

.step:hover {
  background-color: #2004f5;
}

.step.active {
  background-color: #185d69;
}

#details-container {
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e6e6fa;
  border: 0 0 10px #f504ed;
  color: #2c3e50;
  position: relative;
  z-index: 2;
}

.step-with-image {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  animation: slideBackground 3s linear infinite;
}

@keyframes slideBackground {
  0% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(100%);
  }
}

.step-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #090101;
  z-index: 1;
}

section p {
  font-size: 3rem;
  line-height: 1.6;
  color: #0db4d6;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #e5b200;
}

@media only screen and (max-width: 575px) {
  body {
    background-image: url("/images/background_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 14px;
    padding: 3px;
    margin: 0;
    animation: rollIn 1.5s ease-out;
    overflow: auto;
    scroll-behavior: smooth;
  }

  header {
    height: auto;
    text-align: center;
    margin-top: 20%;
  }

  .header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  nav {
    text-align: right;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  nav a {
    display: block;
    padding: 10px 20px;
    color: rgb(248, 30, 230);
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    background-color: rgba(194, 8, 8, 0.9);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    color: #06e7dc;
  }

  section {
    padding: 20px;
    margin-bottom: 20px;
  }

  section h2 {
    font-size: 2rem;
  }

  .step {
    width: 100px;
    height: 100px;
    font-size: 1.2em;
  }

  .contents h1 {
    font-size: 2rem;
    margin-top: 30%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url("/images/background_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    padding: 20px;
    margin: 0;
    animation: rollIn 1.5s ease-out;
    overflow: auto;
    scroll-behavior: smooth;
  }

  header {
    height: 90vh;
  }

  .header-content h2 {
    font-size: 40px;
  }

  nav a {
    padding: 15px 20px;
  }

  section h2 {
    font-size: 2.5rem;
  }

  .step {
    width: 150px;
    height: 150px;
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    background-image: url("/images/background_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
    padding: 30px;
    margin: 0;
    animation: rollIn 1.5s ease-out;
    overflow: auto;
    scroll-behavior: smooth;
  }

  header {
    height: 100vh;
    text-align: center;
    padding-top: 20%;
  }

  .header-content h2 {
    font-size: 50px;
  }

  nav a {
    padding: 20px 25px;
  }

  section h2 {
    font-size: 3rem;
  }

  .step {
    width: 180px;
    height: 180px;
    font-size: 1.8em;
  }
}

