body {
  font-family: "Times New Roman", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  animation: rollIn 1.5s ease-out;
  overflow: auto;
  scroll-behavior: smooth;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(-80%);
}

.header-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e6e9e6;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: "Brush Script m7", script;
  text-transform: uppercase;
  position: relative;
  font-style: oblique;
  letter-spacing: 8px;
  color: #c6ed18;
  text-shadow: 0 0 10px rgba(157, 0, 255, 1), 0 0 10px rgba(157, 0, 255, 1);
}

header h1::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff00;
  text-shadow: 0 0 10px rgba(157, 0, 255, 1), 0 0 10px rgba(157, 0, 255, 0.7),
    0 0 15px rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-content h2,
.header-content h1,
.header-content p {
  margin: 0;
}

header p {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #930f23;
}

.start-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 40%;
  background-color: #091c2f;
  color: #fff;
  text-shadow: 0 0 10px #0ff;
  box-shadow: 0 0 10px #0ff;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.3s ease;
  margin-top: 30px;
}

.start-button:hover {
  background-color: #091c2f;
  color: #87ceed;
  text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #e75480,
    0 0 50px #e75480;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
  opacity: 0;
  background-color: black;
  animation: rollIn 0.5s ease-out;
  overflow: auto;
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fade-out {
  transition: opacity 1s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .background-image {
    object-fit: cover;
    background-image: cover;
    position: fixed;

    
    height: 100vh;
    width: 100vw;
  }

  h1.header-content {
    position: absolute;
    top: -20px;
    font-size: 20%;
  }

  p.header-content {
    position: absolute;
    font-size: 10%;
  }

  .start-button {
    font-size: 50%;
    position: inherit;
    aspect-ratio: 30/10;
    height: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .background-image {
    object-fit: cover;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 2rem;
  }

  .start-button {
    font-size: 1.5rem;
    padding: 15px 30px;
  }
}

@media (max-width: 600px) {
  .background-image {
    object-fit: cover;
  }

  header h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 2.25rem;
  }

  .start-button {
    font-size: 1.75rem;
    padding: 18px 35px;
  }
}

@media (max-width: 992px) {
  .background-image {
    object-fit: cover;
  }

  header h1 {
    font-size: 4rem;
  }

  header p {
    font-size: 2.5rem;
  }

  .start-button {
    font-size: 2rem;
    padding: 20px 40px;
  }
}
@media (max-width: 1200px) {
  .background-image {
    object-fit: cover;
  }
  header h1 {
    font-size: 6rem;
  }

  header p {
    font-size: 4rem;
  }

  .start-button {
    font-size: 4rem;
    padding: 25px 50px;
  }
}
