body {
  font-family: "Times New Roman", sans-serif;
  line-height: 1.6;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #000;
}

header {
  position: relative;
  height: 100vh;
  text-align: center;
}

header img.start-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00ff00; /* Neon green color */
}

/* Standard keyframes rule */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
      0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
  }
  to {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00,
      0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00;
  }
}

header h1.glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

header p {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.start-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 2rem;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}



.start-button:hover {
  background-color: #e5b200;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #e5b200;
}

section {
    margin-bottom: 50px;
    text-align: center; /* Center inline content */
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    opacity: 0.7;
    display: block;
    object-fit: center; /* Use object-fit: contain to center the image */
    margin: 20px auto; /* Use auto for left and right margins to center the image */
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }

section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

section p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}



.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e5b200;
}
